@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  font-family: $magic;
}

header {
  background: green;
  display: flex;
}

.tasks {
  display: flex;
}

.task-options {
  display: none;
}

.tasks:hover {

  .task-options {
    display: inline;
    float: right;
  }

}
